<footer class="page-footer">

    <div class="rodape-conteudo">
    
    <div class="rodape-imagem-container">
        <img src="{{ site.baseurl }}/assets/images/ccby_ncsa.png" alt="creative commons">
    </div>
    <div class="rodape-texto-container">
        <p><b>Como citar o site:</b></p>
        <p>Grupo Etnobotânica - Jardim Botânico do Rio de Janeiro. FONSECA-KRUEL, V.S; DANTAS, C.N.; MACEDO, G.S.; RIDOLPH, L.; LIMA, T.S. (ORGS.). Disponível em <https://etnobotanicajbrj.github.io/medicinais_jbrj.github.io/> Acesso em: dia/mês/ano</p>
        <p><h6>Este site é regido pela Política de Acesso Aberto ao Conhecimento, que busca garantir à sociedade o acesso gratuito, público e aberto ao conteúdo.</h6></p>
    </div>
    <div class="limpar-float"></div> 
</div>   
    
</footer>
