<header>
    <nav class="horizontal-nav">
        <ul>
            <li><a href="{{ site.baseurl }}/" class="{% if page.url == '/' %}active{% endif %}">Home</a></li>
            
            <li><a href="{{ site.baseurl }}/sobre/" class="{% if page.url contains '/sobre/' %}active{% endif %}">Sobre</a></li>
            
            <li><a href="{{ site.baseurl }}/equipe/" class="{% if page.url contains '/equipe/' %}active{% endif %}">Equipe</a></li>
            
            <li><a href="{{ site.baseurl }}/publicacoes/" class="{% if page.url contains '/publicacoes/' %}active{% endif %}">Publicações</a></li>
            
            <li><a href="{{ site.baseurl }}/contato/" class="{% if page.url contains '/contato/' %}active{% endif %}">Contato</a></li>
        </ul>
    </nav>
</header>
