<header>
    <nav class="horizontal-nav">
        <ul>
            <li class="logo-item">
                <a href="{{ site.baseurl }}/">
                    <img src="{{ site.baseurl }}/assets/images/logoEtno.png" alt="Logo do Site" class="header-logo">
                </a>
            </li>
            <li><a href="{{ site.baseurl }}/" class="{% if page.url == '/' %}active{% endif %}">Home</a></li>
            <li><a href="{{ site.baseurl }}/sobre/" class="{% if page.url contains '/sobre/' %}active{% endif %}">Sobre</a></li>
            <li><a href="{{ site.baseurl }}/equipe/" class="{% if page.url contains '/equipe/' %}active{% endif %}">Equipe</a></li>
            <li><a href="{{ site.baseurl }}/publicacoes/" class="{% if page.url contains '/publicacoes/' %}active{% endif %}">Publicações</a></li>
             <li><a href="{{ site.baseurl }}/visite/" class="{% if page.url contains '/visite/' %}active{% endif %}">Visite a Coleção!</a></li>
            <li><a href="{{ site.baseurl }}/contato/" class="{% if page.url contains '/contato/' %}active{% endif %}">Contato</a></li>
            <li class="social-icon">
    <a href="https://www.instagram.com/etnobotanicajbrj?igsh=MWxvMzA3Mms4a3AwMA==" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-instagram"></i>
    </a>
</li>
        </ul>
    </nav>
</header>
