<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Meu Site</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <meta name="google-site-verification" content="cUbrTTsTcbGxzf5j5xSAahUfI___di1RjywJpjP17Us" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

    <button class="menu-toggle" aria-label="Abrir Menu">
        <i class="fas fa-bars"></i>
    </button>

    <aside id="sidebar-menu">
        <div class="sidebar-header">
            <img src="{{ site.baseurl }}/assets/images/logo.png" alt="Logotipo do Grupo">
            <button class="close-btn" aria-label="Fechar Menu">&times;</button>
        </div>
        
        {% include sidebar_menu.html %}
    </aside>

    <main class="page-content">
        {{ content }}
    </main>
    
    {% include footer.html %}

    <script src="{{ site.baseurl }}/assets/js/sidebar.js"></script>

</body>
</html>
